@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #0097e6;
    --primary-text: #2f3640;
    --white-text: #f5f6fa;
    --secondary: #c23616;
}
a {
    text-decoration: none;
    color: var(--primary-text);    
}
body {
    color: var(--primary-text);
    font-family: 'Nunito', sans-serif;
}
header {
    width: 100%;
    display: flex;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,.6)
}
.logo {
    width: 300px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}
.logo img {
    margin-right: 15px;
    align-self: center;
    width: 60px;
}
nav ul{
    display: flex;
}
nav>ul>li {
    list-style: none;
    margin: 0 10px;
}
nav>ul>li>a {
    transition: .4s;
    height: 110px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 110px;
}
nav>ul>li>a:hover {
    color: var(--primary);
}
nav>ul>li>a.active {
    background: var(--primary);
    color: #fff;
    /* border-bottom-left-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
}
nav>ul>li>a>.icon {
    font-size: 35px;
    margin-bottom: 10px;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,.6);
    color: var(--white-text);
    width: 100%;
    justify-content: space-between;
}
footer .info-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .info-dev>.links {
    margin-top: 10px;
}
footer .social-link {
    color: var(--white-text);
    font-size: 20px;
    margin: 0 5px;
}
.home {
    width: 100%;
    height: calc(100vh - 110px);
    position: relative;
    display: flex;
    align-items: center;
}
.slide-item {
    height: 100%;
}
.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    height: 100%;
    object-fit: cover;
}
.slide-item>.info {
    width: 450px;
    color: var(--white-text);
    margin-left: 60px;
}
.slide-item>.info h2 {
    color: var(--secondary);
    text-shadow: 2px 2px 1px #000000db; 
    font-size: 30px;
}
.slide-item>.info>p {
    margin-top: 10px;
    margin-bottom: 25px;
}
.btn {
    box-shadow: 6px 5px 14px #000000b0;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    background: var(--secondary);
    color: var(--white-text);
    border-radius: 2px;
}