@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #0097e6;
    --primary-text: #2f3640;
}
a {
    text-decoration: none;
    color: var(--primary-text);    
}
body {
    color: var(--primary-text);
    font-family: 'Nunito', sans-serif;
}
header {
    width: 100%;
    display: flex;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 300px;
    display: flex;
    align-items: center;
}
.logo img {
    margin-right: 15px;
    align-self: center;
    width: 60px;
}
nav ul{
    display: flex;
}
nav>ul>li {
    list-style: none;
    margin: 0 10px;
}
nav>ul>li>a {
    transition: .4s;
    height: 110px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 110px;
}
nav>ul>li>a:hover {
    color: var(--primary);
}
nav>ul>li>a.active {
    background: var(--primary);
    color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
nav>ul>li>a>.icon {
    font-size: 35px;
    margin-bottom: 10px;
}