<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YouMovie | Otras</title>
    <link rel="stylesheet" href="../../styles/index.css">    
</head>
<body>
    <header>
        <figure class="logo">
            <img src="../../assets/img/logo.png" alt="YouMovie Logo">
            <figcaption>YouMovie</figcaption>
        </figure>
        <nav>
            <ul>
                <div class="cover"></div>
                <li><a href="../../index.html"><i class="icon fas fa-home"></i><span class="cateory">Inicio</span></a></li>
                <li><a href="../accion/index.html"><i class="icon fas fa-fire"></i><span class="cateory">Acción</span></a></li>
                <li><a href=""><i class="icon fas fa-smile"></i><span class="cateory">Comedia</span></a></li>
                <li><a href=""><i class="icon fas fa-couch"></i><span class="cateory">Terror</span></a></li>
                <li><a href=""><i class="icon fas fa-heart"></i><span class="cateory">Romance</span></a></li>
                <li><a href=""><i class="icon fab fa-fly"></i><span class="cateory">Ciencia Ficción</span></a></li>
                <li><a href="" class="active"><i class="icon fas fa-search"></i><span class="cateory">Otras</span></a></li>
            </ul>
        </nav>
    </header>
    <main class="search" id="app">
        <div class="container">
            <div class="text-field">
                <input v-model="movie" type="text">
                <span :class="movie ? 'placeholder' : 'placeholder active'">¿Que película buscas?</span>
                <div class="search-icon" @click="search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <div class="go-up">
            <i class="fas fa-angle-up"></i>
        </div>
        <section ref="movieSection" class="movies" v-show="movies.length">
            <h2 class="results">{{movies.length}} resultados de la búsqueda {{movie}}</h2>
            <movie v-for="movie in movies"
            :key="movie.id" 
            :imgurl="`${baseIMG}${movie.backdrop_path}`"
            :title="movie.title"
            :overview="movie.sumarizedOverview" @open="openModal(movie)"></movie>
        </section>
    </main>
    <script src="../../js/font-awesome.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>