@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #0097e6;
    --primary-text: #2f3640;
    --white-text: #f5f6fa;
    --secondary: #c23616;
    --preload: #dcdde1;
    --light-text: #aaa;
    --slider-duration: 30s;
    --content-min-height: calc(100vh - 110px);
}
a {
    text-decoration: none;
    color: var(--primary-text);    
}
body {
    color: var(--primary-text);
    font-family: 'Nunito', sans-serif;
}
header {
    overflow: hidden;
    box-shadow: 0px 3px 15px #000000d1;
    width: 100%;
    display: flex;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,.6)
}
.logo {
    width: 300px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}
.logo img {
    margin-right: 15px;
    align-self: center;
    width: 60px;
}
nav ul{
    display: flex;
}
nav>ul>li {
    list-style: none;
    margin: 0 10px;
}
nav>ul>li>a {
    transition: .4s;
    height: 110px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 110px;
}
nav>ul>li>a:hover {
    color: var(--primary);
}
nav>ul>li>a.active {
    background: var(--primary);
    color: #fff;
    /* border-bottom-left-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
}
nav>ul>li>a>.icon {
    font-size: 35px;
    margin-bottom: 10px;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,.6);
    color: var(--white-text);
    width: 100%;
    z-index: 40;
    justify-content: space-between;
}
footer .info-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .info-dev>.links {
    margin-top: 10px;
}
footer .social-link {
    color: var(--white-text);
    font-size: 20px;
    margin: 0 5px;
}
.home {
    width: 100%;
    height: var(--content-min-height);
    position: relative;
    display: flex;
    align-items: center;
}
.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.slider .content {
    animation-name: slider;
    animation-duration: var(--slider-duration);
    animation-iteration-count: infinite;
    position: relative;
    width: 100%;
    height: 100%;
}
.slide-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
}
.slide-item.s1 .info {
    animation-name: text1;
    animation-duration: var(--slider-duration);
    animation-iteration-count: infinite;
}
.slide-item.s2 .info {
    animation-name: text2;
    animation-duration: var(--slider-duration);
    animation-iteration-count: infinite;
}
.slide-item.s3 .info {
    animation-name: text3;
    animation-duration: var(--slider-duration);
    animation-iteration-count: infinite;
}
.slide-item.s2 {
    left: 100%;
}
.slide-item.s3 {
    left: 200%;
}
.home img {
    left: 0;
    width: 100%;
    z-index: -10;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
.slide-item>.info {
    opacity: 0;
    width: 450px;
    color: var(--white-text);
}
.slide-item>.info h2 {
    color: var(--secondary);
    text-shadow: 2px 2px 1px #000000d3; 
    font-size: 30px;
}
.slide-item>.info>p {
    margin-top: 10px;
    margin-bottom: 25px;
}
.btn {
    box-shadow: 2px 2px 4px #000000b0;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 700;
    background: var(--secondary);
    color: var(--white-text);
    border-radius: 2px;
}
.btn:hover {
    box-shadow: 2px 2px 9px #000000d2;
}

/*::::::::::::::::::. SECTION STYLES :::::::::::::::::::::*/

main.section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 110px - 94px);
}
main.section >.cont {
    width: 280px;
    height: 390px;
    position: relative;
    margin: 15px;
    border-radius: 3px;
    overflow: hidden;
    transition: .5s;
    background: var(--white-text);
    box-shadow: 3px 3px 7px #000000b0;
}
main.section >.cont .crt{
    position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
	transform: perspective(200px);
	transition: .8s;
}
main.section > .cont:hover {
    box-shadow: 3px 3px 12px #000000d0;   
}
main.section > .cont:hover .crt {
    transform: rotateY(180deg) translateX(100%) !important;
}
main.section .front,.back{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
main.section .front{
    background: #000;
    object-fit: cover;
}
main.section .back{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    background: var(--white-text);
	transform: rotateY(180deg);
}
main.section >.cont .text {
    margin: 20px 10px;
    font-size: 14px;
    text-align: justify;
}
main.section >.cont .date {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 300;
}

/* :::: MOVIE SECTION :::: */

main.full-movie {
    width: 100%;
    min-height: var(--content-min-height);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding: 20px;
}
main.full-movie a {
    color: var(--secondary);
}
main.full-movie a:hover {
    text-decoration: underline;
}
main.full-movie .cover {
    width: 100%;
    height: 100%;
    background: var(--preload);
    border-radius: 4px;
    object-fit: cover;
    transition: .5s;
}
main.full-movie .cover:hover {
    transform: scale(1.06);
}
main.full-movie .title {
    line-height: .8em;
    margin-top: 6px;
}
main.full-movie .date {
    color: var(--light-text);
    font-size: 13px;
    margin-bottom: 20px;
}
main.full-movie .summary {
    text-align: justify;
}
main.full-movie .info {
    margin: 10px 0;
}
main.full-movie  .trailer {
    background: var(--preload);
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

main.full-movie  .trailer iframe,
main.full-movie  .trailer object,
main.full-movie  .trailer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
main.full-movie .secondary .thumbs{
    width: 100%;
    display: grid;
    height: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 4px;
}
main.full-movie .secondary .thumbs .content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: var(--preload);
}
main.full-movie .secondary .thumbs img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    object-fit: cover;
}
main.full-movie .secondary .thumbs img:hover {
    transform: scale(1.1);
}
main.full-movie .secondary .actors {
    width: 100%;
    display: grid;
    align-items: center;
    height: 50%;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-gap: 4px;
}

main.full-movie .secondary .actors .thumbs {
    height: 100%;
    grid-template-rows: 1fr;
}
main.full-movie .description .directors {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
main.full-movie .description .info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
main.full-movie .description .directors img {
    width: 71px;
    margin-right: 15px;
    height: 71px;
    object-fit: cover;
    border-radius: 50%;
}

/* :::: SEARCH STYLES ::::: */

main.search {
    background-image: url('../assets/img/search.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: var(--content-min-height);
}
main.search > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--content-min-height);
    background: rgba(20, 4, 4, 0.61)
}
main.search > .container .text-field {
    position: relative;
    width: 90%;
    height: 50px;
    max-width: 450px;
    overflow: hidden;
    border-radius: 3px;
    background: rgba(201, 181, 181, 0.774);
    display: flex;
    align-items: center;
}
main.search > .container input {
    background: transparent;
    position: absolute;
    height: 100%;
    padding: 10px;
    width: 90%;
    color: var(--primary-text);
    font-size: 1.2em;
    border: 0;
    outline: none;
}
main.search > .container .placeholder {
    width: 90%;
    display: none;
    font-weight: 700;
    text-align: center;
}
main.search > .container .placeholder.active {
    display: block;
}
main.search > .container .search-icon {
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0;
    background: var(--primary);
    color: var(--white-text);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}
main.search .movies {
    padding: 20px 10%;
    background: var(--white-text);
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    grid-gap: 15px;
}
main.search .movies .results {
    padding: 20px 0;
    grid-column-end: 4;
    grid-column-start: 1;
}
main.search .movies .movie{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 1%;
    border-radius: 3px;
}
main.search .movies .movie img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main.search .movies .movie:hover .mask{
    background: rgba(0,0,0,.6);
    transform: translateY(0);
}
main.search .movies .movie:hover .mask p {
    opacity: 1;
}
main.search .movies .movie img {
    background: var(--preload);
}
main.search .movies .movie .mask {
    background: transparent;
    position: absolute;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0);
    align-items: center;
    height: 130%;
    bottom: 0;
    transform: translateY(100px);
    transition-property: background, transform;
    transition-delay: 0s, .2s;
    transition-duration: .4s, .5s;
}
main.search .movies .movie .mask p {
    padding: 0 25px;
    margin-top: 60px;
    color: #fff;
    opacity: 0;
    transition: 1s .2s;
    text-align: justify;
    height: 136px;
    overflow: hidden;
}
main.search .movies .movie .mask .actions {
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 12px;
}
main.search .movies .movie .mask .actions a {
    padding: 3px 10px;
    background: var(--primary);
    letter-spacing: 0;
}

/* :::: UTILS ::: */

.go-up {
    position: fixed;
    width: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 55px;
    font-size: 20px;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
    background: var(--primary);
    color: #fff;
    transition: .3s;
    border-radius: 50%;
    transform: scale(0);
}
.go-up:hover {
    background: rgb(6, 197, 255);
}
@keyframes text2 {
    0% { transform: translateY(60px); opacity: 0; }
    24% { transform: translateY(60px); opacity: 0; }
    27% { transform: translateY(0); opacity: 1; }
    43% { transform: translateY(0); opacity: 1; }
    46% { transform: translateY(60px); opacity: 0; }
    74% { transform: translateY(60px); opacity: 0; }
    77% { transform: translateY(0); opacity: 1; }
    93% { transform: translateY(0); opacity: 1; }
    96% { transform: translateY(60px); opacity: 0; }
    100% { transform: translateY(60px); opacity: 0; }
}
@keyframes text1 {
    0% { transform: translateY(60px); opacity: 0; }
    3% { transform: translateY(0); opacity: 1; }
    18% { transform: translateY(0); opacity: 1; }
    21% { transform: translateY(60px); opacity: 0; }
    100% { transform: translateY(60px); opacity: 0; }
}
@keyframes text3 {
    0% { transform: translateY(60px); opacity: 0; }
    49% { transform: translateY(60px); opacity: 0; }
    52% { transform: translateY(0); opacity: 1; }
    68% { transform: translateY(0); opacity: 1; }
    71% { transform: translateY(60px); opacity: 0; }
    100% { transform: translateY(60px); opacity: 0; }
}
@keyframes slider {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-100%); }
    95% { transform: translateX(-100%);         }
    100% { transform: translateX(0); }
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.774);
    z-index: 10;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.modal > .close {
    color: #fff;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}
.modal > .close:hover {
    border: 3px solid var(--secondary);
    color: var(--secondary);
}
.modal > .content {
    width: 90%;
    max-width: 800px;
    max-height: 80vh;
    display: flex;
    justify-content: center;
}
.modal > .content img {
    top: 0;
    left: 0;
    align-self: center;
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
}
.modal > .others {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.modal > .others > div {
    width: 70px;
    height: 70px;
    transition: .3s;
    cursor: pointer;
    margin: 5px;
    border: 2px solid var(--preload);
}
.modal > .others > div:hover {
    border: 2px solid var(--primary);
}
.modal > .others > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-modal {
    cursor: pointer;
}